@model NetPhlixDb.Data.ViewModels.Movies.MovieDetailsViewModel

@{
    ViewData["Title"] = "Movie Details";
}

<div class="offset-3 card mb-3 text-center" style="max-width: 50rem;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="@Model.Poster" class="card-img" alt="Card image">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">@Model.Storyline</p>
                <p class="card-text"><small class="text-muted">Length: @Model.Duration min</small></p>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <a class="btn btn-primary w-25 mt-2 mb-2" href="##" onClick="history.go(-1); return false;">Back</a>
</div>