@{
    ViewData["Title"] = "About";
}

<div class="container text-center text-justify">
    <h1>@ViewData["Title"]</h1>

    <p class="w-50 mx-auto">
        NetPhlixDb is the world's most popular and authoritative source for movie, TV and celebrity content.
        The NetPhlixDb consumer site is the #1 movie website in the world with a combined web and mobile audience of more than 250 million unique monthly visitors.
    </p>
</div>
