@model NetPhlixDb.Data.ViewModels.Events.CreateEventViewModel

@{
    ViewData["Title"] = "Create Event";
}

<div class="container w-75">
    <h1 class="text-center">Create Event</h1>
    <hr />
    <form class="mx-auto text-center" method="post">
        <div class="row">
            <div class="form-group font-weight-bold col-md-6">
                <label asp-for="Title" class="col-form-label"></label>
                <input asp-for="Title" class="form-control" placeholder="Golden Globe Awards" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group font-weight-bold col-md-6">
                <label asp-for="Picture" class="col-form-label"></label>
                <input asp-for="Picture" class="form-control" placeholder="Link..." />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="form-group font-weight-bold col-md-6">
                <label asp-for="Date" class="col-form-label"></label>
                <input asp-for="Date" class="form-control" placeholder="Start..." />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group font-weight-bold col-md-6">
                <label asp-for="Info" class="col-form-label"></label>
                <textarea cols="50"rows="10" asp-for="Info" class="form-control" placeholder="Details..."></textarea>
                <span asp-validation-for="Info" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <button class="btn bg-success" type="submit">Create</button>
        </div>
    </form>
</div>

