
@{
    ViewData["Title"] = "Index";
    Layout = null;
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Test</title>
    <link href="~/css/test.css" rel="stylesheet" />

</head>
<body>
<h1>Index</h1>


</body>
</html>